.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.btn-more {
  width: 250px;
  margin: 30px;

}

.title {
  margin:16px;
}

h6 {
  font-weight: bold;
}

h4 {
  color: #006E69;
}

.fab {
  color:white;
}

footer {
  background: black;
};