.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.btn-more {
  width: 250px;
  margin: 30px;
  background-color: #FCD15F;
  font-weight: bold;
  color: #040B14;
}

.title {
  margin:16px;
}

h6 {
  font-weight: bold;
}

h4 {
  color: #FF6640;
}

.fab {
  color:white;
}

footer {
  background: #1D232B;
};

.btn-light{
  margin: 20px;
  background-color: black;
}


section {
  background-color: #040B14;
}

.navbar {
  background-color: #1D232B;
}

.fas {
  color: white;
}

*{
 font-family: Poppins;
}

.fa-compact-disc {
  color: #FCD15F;
  font-size: 42px;
}

.navbar-brand {
  color: #FCD15F;
}

.logo {
  color: #FCD15F;
  font-weight: bold;
  font-size: 30px;
}

.btn-kindmovies {
  color: #FF6640;
  font-weight: bold;
}

.kinds {
  display: flex;
 
}


.sort {
  background-color: #040B14;
  height: 44px;
  display: flex;
  justify-content: center;
}

.input-group-prepend {
  margin-top: 30px;
}

.custom-select{
  margin-top: 30px;
}

.btn-submit {
  color: #040B14;
  background-color: #FCD15F;
  font-weight: bold;
}

.web {
  font-weight: bold;
  color: white;
  display: flex; 
  justify-content: center;

}

.link {
  color: #FF6640;
}

.card-body {
  min-height: 300px;
}